{% extends '@RadditApp/base.html.twig' %}
{% from '@RadditApp/macros/comments.html.twig' import comment %}

{% block page_classes 'comment-list-page' %}
{% block title 'title.recent_comments'|trans %}

{% block head %}
  {{ include('@RadditApp/includes/meta_pagination.html.twig', {pager: comments}, with_context=false) }}
{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {% for comment in comments %}
    {{ comment(comment, {recurse: false}) }}
  {% endfor %}

  {{ include('@RadditApp/includes/pagination.html.twig', {pager: comments}, with_context=false) }}
{% endblock %}

