{% extends '@RadditApp/base.html.twig' %}

{% block page_classes %}create-forum-page{% endblock %}

{% block title %}{{ 'create_forum.create_new_forum'|trans }}{% endblock %}

{% block body %}
  <h1>{{ block('title') }}</h1>

  {{ include('@RadditApp/forms/forum_form.html.twig', {form: form}, with_context=false) }}
{% endblock %}
