{% extends '@RadditApp/wiki.html.twig' %}

{% block title %}
  {{ 'wiki.history_title'|trans({'%path%': page.path}) }}
{% endblock %}

{% block head %}
  {% include '@RadditApp/includes/meta_pagination.html.twig' with {pager: revisions} only %}
{% endblock %}

{% block body %}
  <h1>{{ 'wiki.history_title'|trans({
    '%path%': '<a href="%s">%s</a>'|format(path('raddit_app_wiki', {path: page.path})|escape, page.path|escape)
  })|raw }}</h1>

  <table class="table">
    <thead>
      <tr>
        <th>{{ 'wiki.id_label'|trans }}</th>
        <th>{{ 'wiki.revision_time'|trans }}</th>
        <th>{{ 'wiki.user'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for revision in revisions %}
        <tr>
          <td>
            <a href="{{ path('raddit_app_wiki_revision', {id: revision.id}) }}">
              {{- 'wiki.id'|trans({'%id%': revision.id|localizednumber}) -}}
            </a>
          </td>
          <td>
            {% with {date: revision.timestamp|localizeddate('long', 'short')} %}
              <time datetime="{{ revision.timestamp|date('c') }}" class="relative-time" title="{{ date }}">
                {{- date -}}
              </time>
            {% endwith %}
          </td>
          <td><a href="{{ path('raddit_app_user', {username: revision.user.username}) }}">{{ revision.user.username }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include '@RadditApp/includes/pagination.html.twig' with {pager: revisions} only %}
{% endblock %}
